.objects {
    display: inline-block;
    width: 300px;
    border-color: grey;
    border-style: solid 1px;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.btnaddgraph {
    position: absolute;
    left: 0;
    top: 0;
}

.center {
    text-align: center;
}