.connection-form {
  margin: 20px 20px 20px 20px;
//   min-width: 150px;
//   max-width: 300px;
//   width: 100%;
}

// .connection-full-width {
//   width: 100%;
// }

.connectionstring {
    margin: 20px 20px 20px 20px;
}

.btn {
    margin: 20px;
}